head {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
}

p {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    line-height: 1.5;
}

ul.none li {
    list-style-type: none;
}

/* Стиль для блока с картой */
.main-map-contacts {
    position: relative;
    width: 100%;
}

.map {
    width: 100%;
}

.blockquote-map {
    position: absolute;
    z-index: 1000;
    width: 40%;
    top: 25%;
    right: 0;
    opacity: 0.9;
    height: 50%;
    background: rgb(137, 84, 129);
}