head {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
}

p {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    line-height: 1.5;
}

ul.none li {
    list-style-type: none;
}

.head-inf {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f2;
}

.head-inf-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 5px; */
}

.head-inf-center {
    text-align: center;
}

.head-inf-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    background-image: url(../img/fon-menu.png);
}

.menu nav {
    display: flex;
    justify-content: center;
}

.menu nav a {
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
}

.menu nav a:hover {
    background-color: #929292;
    box-shadow: 0px 2px 9px 4px #9b939a;
}

/* Стиль для блока с картой */
.main-map-contacts {
    position: relative;
    width: 100%;
}

.map {
    width: 100%;
}

.blockquote-map {
    position: absolute;
    z-index: 1000;
    width: 40%;
    top: 25%;
    right: 0;
    opacity: 0.9;
    height: 50%;
    background: rgb(137, 84, 129);
}